doctype html
html.app(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title MTE移动触体验
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="stylesheet", href="css/app.css")
    body
        .toolbar
            a(href="###").btn_list
                i.icon_list
            .search
                input.keyword(type="text", placeholder="搜索")
        .container
            ul.projects
            .load_more 加载更多
            .loading
                i.icon_loading
                | 加载中
        script#tpl_star_projects(type="text/tpl")
            li(class="project starred")
                .figure
                    a.image(href="{url}")
                        img(src="file/{image}")
                    .mask
                        a.name(href="{url}") {name}
                a.remark(href="{url}") {remark}
                i.icon_star(data-id="{id}")
                a.icon_comment(href="appview/{id}")
        script#tpl_unstar_projects(type="text/tpl")
            li(class="project")
                .mask
                    a.name(href="{url}") {name}
                i.icon_star(data-id="{id}")
                a.icon_comment(href="appview/{id}")
        script(src="vendor/zepto.min.js")
        script(src="js/mte.js")
        script $(function() { MTE.app.init(); });