extends layout

block content
    .col_main
        .search_form
            input.ui_form_input(type="text", name="keyword", value=keyword, placeholder="请输入关键字...")
            input.ui_form_button(type="button", value="搜 索")
        table.ui_table
            thead
                tr
                    th.name 名称
                    th.tag 标签
                    th.photo 截图
                    th.qrcode 二维码
                    th.manager 接口人
                    th.remark 备注
                    th.update_at 更新时间
                    th.action 操作
            tfoot
                tr
                    td(colspan="8")
                        .ui_paginator
            tbody
    .col_sub
        form.ui_form(action="create", method="post", enctype="multipart/form-data")
            .ui_form_row
                .row_title
                    span.step ①
                    | 名称
                .row_content
                    input.ui_form_input(type="text", id="name", name="name", placeholder="名称_版本信息")
            .ui_form_row
                .row_title
                    span.step ②
                    | 标签
                .row_content
                    label.ui_form_label
                        input.ui_form_radio(type="radio", id="project", name="tag", value="0", checked="checked")
                        | 项目
                    label.ui_form_label
                        input.ui_form_radio(type="radio", id="module", name="tag", value="1")
                        | 组件
            .ui_form_row
                .row_title
                    span.step ③
                    | 图片
                .row_content
                    .ui_form_uploader
                        input.ui_form_file(type="file", id="image", name="image")
                        a.ui_form_fake_file 点击浏览/拖放图片到此处(600x200)
                    .ui_popover
                        img.img_preview
            .ui_form_row
                .row_title
                    span.step ④
                    | 访问地址
                .row_content
                    input.ui_form_input(type="text", id="url", name="url", placeholder="http://")
            .ui_form_row.row_manager
                .row_title
                    span.step ⑤
                    | 接口人
                .row_content
                    script new Tcc.UserChooser({id: 'manager', name: 'manager', choosertype: 1, inputType: 2, user_chooser_class: 'ui_form_input'});
            .ui_form_row.row_receiver
                .row_title
                    span.step ⑥
                    | 关注人
                    label.ui_form_label
                        input.ui_form_checkbox(type="checkbox", id="send", name="send", value="1")
                        | 是否发送邮件
                .row_content
                    script new Tcc.UserChooser({id: 'receiver', name: 'receiver', choosertype: 1, inputType: 2, user_chooser_class: 'ui_form_input'});
            .ui_form_row
                .row_title
                    span.step ⑦
                    | 备注
                .row_content
                    textarea.ui_form_input.input_textarea(id="remark", name="remark", placeholder="说点什么吧...")
            .ui_form_action
                input(type="hidden", id="project_id", value="")
                input.ui_form_button(type="submit", value="保 存")

