/* rest */
* { -webkit-tap-highlight-color: transparent; outline: 0; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { max-width: 100%; border: 0 none; }
i, em { font-style: normal; }
ol, ul { list-style: none; }
input, select, h1, h2, h3, h4, h5, h6 { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
p { margin: .5em 0; }
ul, a { color: #4183c4; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a, img { -webkit-touch-callout: none; }

body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
    height: 100%;
    background: #fff;
    font-size: 14px;
    font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
}

blockquote {
    margin: 15px 0px;
    border-left: 4px solid #ddd;
    padding: 0px 15px;
    color: #777777;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 15px;
    line-height: 25px;
}

pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 13px;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    word-wrap: normal;
}

.toolbar {
    padding: 5px 10px;
    font-size: 1.6em;
    color: #fff;
    background-color: #323a45;
}

h2 { margin: 1em 0 0.2em; font-size: 1.2em; }

.content {
    padding: 20px 0;
    font-size: 1.2em;
    word-wrap: break-word;
    word-break: break-all;
}

.posts {
    margin: 0 10px 0 27px;
    list-style-type: square;
    font-size: 1em;
}

.date { color: #999; }
