html,
body { color: #555; font: normal 16px/1.6 helivetica, arial, sans-serif; }
a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active, a:hover { outline: 0; }
h1.title { color: steelblue; font-size: 2em; }
h1.title .date { color: #666; font-size: .8em; margin-bottom: 1em; }
h2 { font-size: 1.5em; }
ul, ol { margin-left: 1.2em; }
ul { padding: 0; list-style-type: square; }
.container { min-width: 320px; max-width: 640px; margin: 0 auto; padding: 0 1em; }
