@charset "UTF-8";
@import "core";
@import "reset";

$sidebar-width: 280px;
.toolbar, .content { margin-left: $sidebar-width; }

.toolbar {
  padding: 20px 10px 10px 20px;
  font-size: 1.6em;
  background-color: #fff;
  overflow: hidden;
}

.sidebar h1,
.sidebar .num,
.post .category,
.post .date { color: rgba(0, 0, 0, 0.3) }

.sidebar h1,
.sidebar h3,
.posts .archive { font-weight: 400; }

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: $sidebar-width;
}

.avatar {
  display: block;
  margin: 0 auto 10px;
  border-radius: 100px;
  border: 5px solid rgba(0, 0, 0, .1);
}

.sidebar h1 {
  margin-bottom: 20px;
  padding: 20px 0 0 20px;
  font-size: 1.5em;
}

.sidebar h3 { padding: 0 0 10px 20px; font-size: 1.4em; color: #ccc; }
.sidebar ul { margin: 0 0 20px 20px; }
.sidebar li { height: 25px; line-height: 25px; }
.sidebar a:hover .num { color: #4183c4; }
.title { font-weight: 400; }

.content {
  min-height: 400px;
  padding: 10px 10px 50px 20px;
  font-size: 1.2em;
  background-color: #fff;
}

.content a { color: #4183c4; }

.posts .archive {
  margin: .3em 0 .2em 0;
  font-size: 3em;
  color: #4183c4;
  height: 45px;
  line-height: 45px;
  color: #ccc;
}

.post { padding: 0.5em 0; }
.post .category { padding-left: 5px; }
.post .date { display: block; }

/* about me */
.aboutme { }

/* profile */
.profile body { color: #666; }
.profile h3 { margin: 1em 0 .2em; }

.profile .basic,
.profile .skills,
.profile .keywords,
.profile .timeline { @include clearfix; }

.profile .container { width: 950px; margin: 0 auto; }
.profile .title { margin: .5em 0; font-size: 2.4em; }
.profile .content { margin: 0; padding: 0; background-color: #f8f8f8; }

.profile dt,
.profile dd,
.profile li {
  float: left;
  height: 2em;
  line-height: 2em;
  margin-right: 20px;
}

.profile dt { clear: left; }
.profile .basic dt { width: 55px; }

/* code syntax highlight */

/* plain text */
.pln { color: #000 }

/* string content */
.str { color: #e67e22; }

/* a keyword */
.kwd { color: #3498db; font-weight: 700; }

/* a comment */
.com { color: #aaa }

/* a type name */
.typ { color: #1abc9c; font-weight: 700; }

/* a literal value */
.lit { color: #066 }

/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo { color: #660 }

/* a markup tag name */
.tag { color: #008 }

/* a markup attribute name */
.atn { color: #1abc9c }

/* a markup attribute value */
.atv { color: #2ecc71 }

/* a declaration; a variable name */
.dec, .var { color: #1abc9c; }

/* a function name */
.fun { color: red; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; }
.prettyprint li { line-height: 20px; }

@media only screen and (max-width: 800px) {
  .toolbar { margin-top: 66px; padding: 0; font-size: 1.4em; background-color: #f8f8f8; }
  header { padding: 5px 0; }
  header a { color: #4183c4; font-size: 1.2em; }
  .toolbar, .content { margin-left: 0; }
  .title { padding: 5px 10px; }
  .title, .container { margin: 0 auto; min-width: 320px; max-width: 640px; }
  .sidebar { width: 100%; background-color: #323a45; }
  .sidebar h1 { margin-bottom: 0; padding-top: 0; padding-left: 10px; color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .sidebar h3 { padding-left: 0; }
  .sidebar ul { margin: 0; }
  .sidebar li { display: inline-block; margin: 0 10px; }
  .categories { display: none; position: absolute; top: 0; left: 0; width: 100%; }
  .content { padding-left: 10px; }
}