* { padding: 0; margin: 0; }

@font-face {
    font-family: "webfont";
    src: url(/public/font/webfont.eot);
    src: url(/public/font/webfont.eot?#iefix) format("embedded-opentype"),
    url(/public/font/webfont.svg#webfontregular) format("svg"),
    url(/public/font/webfont.woff) format("woff"),
    url(/public/font/webfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 650px;
    margin: -325px 0 0 -300px;
}

.avatar {
    position: absolute;
    top: 300px;
    left: 326px;
    width: 90px;
    height: 90px;
    margin: -45px 0 0 -45px;
    border-radius: 50px;
}