* {
  padding: 0;
  margin: 0; }

h1, h2 {
  padding-left: 5px; }

h1 {
  margin-bottom: 30px;
  font-size: 30px; }

h2 {
  margin-bottom: 15px;
  font-size: 20px; }

ul {
  list-style: none; }

@font-face {
  font-family: "iconfont";
  src: url("http://d9.oa.com/samgui/public/fonts/iconfont.eot");
  src: url("http://d9.oa.com/samgui/public/fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("http://d9.oa.com/samgui/public/fonts/iconfont.svg#fontawesomeregular") format("svg"), url("http://d9.oa.com/samgui/public/fonts/iconfont.woff") format("woff"), url("http://d9.oa.com/samgui/public/fonts/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }
.wrap {
  margin: 10px; }

.iconfont {
  font: normal 40px "iconfont";
  color: #666; }
  .iconfont li {
    float: left;
    padding: 0 5px; }
