<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link href="https://github.global.ssl.fastly.net/assets/github-7f0d8b6428960eb6590c22021e3a46458f3d3aad.css" rel="stylesheet"/>
    <link href="https://github.global.ssl.fastly.net/assets/github2-ab9a34a21f2309f4d6df91ace9e425b2aacc069a.css" rel="stylesheet"/>
    <link href="/public/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <div class="header header-logged-in">
        <div class="container clearfix">
            <a class="header-logo-invertocat" href="https://github.com/">
                <span class="mega-octicon octicon-mark-github"></span>
            </a>
            <ul id="user-links">
                <li>
                    <a href="/aNd1coder" class="name">
                        <img height="20" src="https://0.gravatar.com/avatar/e0c987d94d37f5d19f5b6c4fedff65e0?d=https%3A%2F%2Fidenticons.github.com%2F452d53ad8bacae3b21116c716b0871d3.png&amp;r=x&amp;s=140" width="20"> aNd1coder
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        {{content}}
    </div>
</div>
</body>
</html>